
<p id="notice"><%= notice %></p>
<div class="submitnew"><%= link_to 'New Shout', new_shout_path %></div>
<h1 class="contenttitle">Shouts</h1>
<table>
  <tbody>
    <% @shouts.each do |shout| %>
      <tr>
        <td><%= shout.content %></td>
        <td><%= link_to 'Show', shout %></td>
        <td><%= link_to 'Edit', edit_shout_path(shout) %></td>
        <td><%= link_to 'Destroy', shout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

