
<p id="notice"><%= notice %></p>
<div class="submitnew"><%= link_to 'New Entry', new_entry_path %></div>
<h1 class="contenttitle">Journals</h1>
<table>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

