
<p id="notice"><%= notice %></p>
<div class="submitnew"><%= link_to 'New Picture', new_picture_path %></div>
<h1 class="contenttitle">Albums</h1>
<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

